In [1]:
# Import Dependencies
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import boto3
from sqlalchemy import create_engine
from io import StringIO
from config import aws_id, aws_secret, sql_pw

In [2]:
# Extracting Dataset from S3 Bucket
client = boto3.client('s3', aws_access_key_id=aws_id, aws_secret_access_key=aws_secret)
bucket_name = 'utbootcamp-bucket'
object_key = 'datasets_2745_4700_movies.csv'
csv_obj = client.get_object(Bucket=bucket_name, Key=object_key)
body = csv_obj['Body']
csv_string = body.read().decode('utf-8', errors='ignore')
movies_df = pd.read_csv(StringIO(csv_string))
movies_df.head()

,budget,company,country,director,genre,gross,name,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,Stand by Me,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,Ferris Bueller's Day Off,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,Top Gun,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,Aliens,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,Flight of the Navigator,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986

# Performing inital cleaning of data

In [3]:
# Convert released column to datetime
movies_df['released']= pd.to_datetime(movies_df['released'])

# Fixing string error
companies = movies_df["company"]
replace_companies = list(companies[companies == "Metro-Goldwyn-Mayer (MGM)"])
for company in replace_companies:
    movies_df.company = movies_df.company.replace(company,"Metro Goldwyn Mayer")

# Droping Identification column
movies_df_clean = movies_df.copy()
movies_df_clean = movies_df_clean.drop(["name"], axis=1)
movies_df_clean.head()

,budget,company,country,director,genre,gross,rating,released,runtime,score,star,votes,writer,year
0,8000000.0,Columbia Pictures Corporation,USA,Rob Reiner,Adventure,52287414.0,R,1986-08-22,89,8.1,Wil Wheaton,299174,Stephen King,1986
1,6000000.0,Paramount Pictures,USA,John Hughes,Comedy,70136369.0,PG-13,1986-06-11,103,7.8,Matthew Broderick,264740,John Hughes,1986
2,15000000.0,Paramount Pictures,USA,Tony Scott,Action,179800601.0,PG,1986-05-16,110,6.9,Tom Cruise,236909,Jim Cash,1986
3,18500000.0,Twentieth Century Fox Film Corporation,USA,James Cameron,Action,85160248.0,R,1986-07-18,137,8.4,Sigourney Weaver,540152,James Cameron,1986
4,9000000.0,Walt Disney Pictures,USA,Randal Kleiser,Adventure,18564613.0,PG,1986-08-01,90,6.9,Joey Cramer,36636,Mark H. Baker,1986

In [4]:
# Generate our categorical variable list
movies_cat = movies_df_clean.dtypes[movies_df_clean.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
movies_df_clean[movies_cat].nunique()

company     2179
country       57
director    2759
genre         17
rating        13
star        2504
writer      4199
dtype: int64

In [5]:
# Inspecting value counts for large categorical columns for bucketing
countries = movies_df_clean["country"].value_counts()
countries

USA                               4872
UK                                 698
France                             283
Canada                             150
Germany                            134
Australia                           82
Japan                               68
Spain                               56
Italy                               51
Ireland                             44
India                               39
Hong Kong                           39
Denmark                             33
China                               24
South Korea                         20
Sweden                              18
Belgium                             18
New Zealand                         18
Mexico                              15
Argentina                           13
Netherlands                         12
Iran                                12
Russia                              10
South Africa                         9
Czech Republic                       8
Taiwan                               8
Norway                               8
Hungary                              7
Switzerland                          6
Brazil                               6
Austria                              6
Greece                               5
Romania                              5
Israel                               5
Chile                                4
West Germany                         4
Thailand                             3
Finland                              3
Indonesia                            2
Poland                               2
Portugal                             2
Peru                                 2
Colombia                             2
Saudi Arabia                         1
Jamaica                              1
Republic of Macedonia                1
Soviet Union                         1
Palestine                            1
Panama                               1
Kenya                                1
Cuba                                 1
Bahamas                              1
Ukraine                              1
Aruba                                1
Federal Republic of Yugoslavia       1
Iceland                              1
Malta                                1
Name: country, dtype: int64

In [6]:
# Inspecting value counts for large categorical columns for bucketing
companies = movies_df_clean["company"].value_counts()
companies

Universal Pictures                        302
Warner Bros.                              294
Paramount Pictures                        259
Twentieth Century Fox Film Corporation    205
New Line Cinema                           172
                                         ...
Opus Film                                   1
Big Screen Productions                      1
Blue Tulip Productions                      1
Independent Pictures (II)                   1
Iron Horse Entertainment (II)               1
Name: company, Length: 2179, dtype: int64

In [7]:
# Inspecting value counts for large categorical columns for bucketing
directors = movies_df_clean["director"].value_counts()
directors

Woody Allen             33
Clint Eastwood          24
Steven Soderbergh       21
Steven Spielberg        21
Ron Howard              20
                        ..
Jane Weinstock           1
Ralph Bakshi             1
Bertrand Bonello         1
John Ottman              1
Joseph Gordon-Levitt     1
Name: director, Length: 2759, dtype: int64

In [8]:
# Inspecting value counts for large categorical columns for bucketing
stars = movies_df_clean["star"].value_counts()
stars

Nicolas Cage         42
Robert De Niro       38
Denzel Washington    36
Tom Hanks            35
Bruce Willis         33
                     ..
Nick Zano             1
Paz Vega              1
Ellen Burstyn         1
Tom Davis             1
William Ragsdale      1
Name: star, Length: 2504, dtype: int64

In [9]:
# Inspecting value counts for large categorical columns for bucketing
writers = movies_df_clean["writer"].value_counts()
writers

Woody Allen            32
Luc Besson             25
Stephen King           22
John Hughes            18
William Shakespeare    14
                       ..
Sam Simon               1
Josh Boone              1
John Mortimer           1
Bob Weinstein           1
Lawrence D. Cohen       1
Name: writer, Length: 4199, dtype: int64

In [10]:
# Determining which values to replace
replace_companies = list(companies[companies < 40].index)
replace_countries = list(countries[countries < 50].index)
replace_directors = list(directors[directors < 15].index)
replace_stars = list(stars[stars < 20].index)
replace_writers = list(writers[writers < 10].index)

# Replace in DataFrame
for company in replace_companies:
    movies_df_clean.company = movies_df_clean.company.replace(company,"Other")
for country in replace_countries:
    movies_df_clean.country = movies_df_clean.country.replace(country,"Other")
for director in replace_directors:
    movies_df_clean.director = movies_df_clean.director.replace(director,"Other")
for star in replace_stars:
    movies_df_clean.star = movies_df_clean.star.replace(star,"Other")
for writer in replace_writers:
    movies_df_clean.writer = movies_df_clean.writer.replace(writer,"Other")

In [11]:
# Check to make sure bucketing was successful
movies_df_clean.company.value_counts()

Other                                     4326
Universal Pictures                         302
Warner Bros.                               294
Paramount Pictures                         259
Twentieth Century Fox Film Corporation     205
New Line Cinema                            172
Columbia Pictures Corporation              166
Touchstone Pictures                        131
Columbia Pictures                          108
Walt Disney Pictures                       102
Metro Goldwyn Mayer                        101
TriStar Pictures                            85
Miramax                                     77
DreamWorks                                  76
Castle Rock Entertainment                   62
Fox 2000 Pictures                           58
Dimension Films                             57
Fox Searchlight Pictures                    57
Hollywood Pictures                          52
Screen Gems                                 46
Lionsgate                                   44
Orion Pictures                              40
Name: company, dtype: int64

In [12]:
# Check to make sure bucketing was successful
movies_df_clean.country.value_counts()

USA          4872
UK            698
Other         426
France        283
Canada        150
Germany       134
Australia      82
Japan          68
Spain          56
Italy          51
Name: country, dtype: int64

In [13]:
# Check to make sure bucketing was successful
movies_df_clean.director.value_counts()

Other                6453
Woody Allen            33
Clint Eastwood         24
Steven Soderbergh      21
Steven Spielberg       21
Ron Howard             20
Ridley Scott           19
Joel Schumacher        19
Barry Levinson         18
Spike Lee              18
Stephen Frears         17
Tim Burton             17
Richard Linklater      17
Oliver Stone           17
Bruce Beresford        16
Renny Harlin           15
Garry Marshall         15
Tony Scott             15
Rob Reiner             15
Chris Columbus         15
Martin Scorsese        15
Name: director, dtype: int64

In [14]:
# Check to make sure bucketing was successful
movies_df_clean.star.value_counts()

Other                    5879
Nicolas Cage               42
Robert De Niro             38
Denzel Washington          36
Tom Hanks                  35
Bruce Willis               33
Johnny Depp                32
Tom Cruise                 27
Ben Stiller                27
Adam Sandler               27
Kevin Costner              26
John Cusack                26
Eddie Murphy               25
John Travolta              25
Sylvester Stallone         25
Robin Williams             25
Keanu Reeves               24
Steve Martin               24
Mark Wahlberg              23
Mel Gibson                 23
Brad Pitt                  22
Arnold Schwarzenegger      22
Ben Affleck                22
Matt Damon                 22
George Clooney             22
Jim Carrey                 22
Matthew McConaughey        22
Anthony Hopkins            21
Ethan Hawke                21
Jeff Bridges               21
Sandra Bullock             21
Dennis Quaid               20
Richard Gere               20
Meryl Streep               20
Harrison Ford              20
Jackie Chan                20
Will Smith                 20
Liam Neeson                20
Christian Bale             20
Name: star, dtype: int64

In [15]:
# Check to make sure bucketing was successful
movies_df_clean.writer.value_counts()

Other                  6546
Woody Allen              32
Luc Besson               25
Stephen King             22
John Hughes              18
David Mamet              14
William Shakespeare      14
Pedro Almodvar           13
Tyler Perry              12
Wes Craven               12
Robert Rodriguez         11
Joel Coen                11
Michael Crichton         10
M. Night Shyamalan       10
Kevin Smith              10
Lars von Trier           10
Ehren Kruger             10
Jim Jarmusch             10
Quentin Tarantino        10
Brian Helgeland          10
John Logan               10
Name: writer, dtype: int64

In [16]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(movies_df_clean[movies_cat]))

# Add the encoded variable names to the DataFrame
encode_df.columns = enc.get_feature_names(movies_cat)
encode_df.head()

,company_Castle Rock Entertainment,company_Columbia Pictures,company_Columbia Pictures Corporation,company_Dimension Films,company_DreamWorks,company_Fox 2000 Pictures,company_Fox Searchlight Pictures,company_Hollywood Pictures,company_Lionsgate,company_Metro Goldwyn Mayer,...,writer_Michael Crichton,writer_Other,writer_Pedro Almodvar,writer_Quentin Tarantino,writer_Robert Rodriguez,writer_Stephen King,writer_Tyler Perry,writer_Wes Craven,writer_William Shakespeare,writer_Woody Allen
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Merge one-hot encoded features and drop the originals
movies_df_merged = movies_df.merge(encode_df,left_index=True, right_index=True)
movies_df_merged = movies_df_merged.drop(movies_cat,1)
movies_df_merged.head()

,budget,gross,name,released,runtime,score,votes,year,company_Castle Rock Entertainment,company_Columbia Pictures,...,writer_Michael Crichton,writer_Other,writer_Pedro Almodvar,writer_Quentin Tarantino,writer_Robert Rodriguez,writer_Stephen King,writer_Tyler Perry,writer_Wes Craven,writer_William Shakespeare,writer_Woody Allen
0,8000000.0,52287414.0,Stand by Me,1986-08-22,89,8.1,299174,1986,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,6000000.0,70136369.0,Ferris Bueller's Day Off,1986-06-11,103,7.8,264740,1986,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,15000000.0,179800601.0,Top Gun,1986-05-16,110,6.9,236909,1986,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,18500000.0,85160248.0,Aliens,1986-07-18,137,8.4,540152,1986,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9000000.0,18564613.0,Flight of the Navigator,1986-08-01,90,6.9,36636,1986,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
# Converting score to recomendation value
movies_df_merged.loc[movies_df_merged.score >= 7.0, "recomendation"] = 2
movies_df_merged.loc[(movies_df_merged.score < 7.0) & (movies_df_merged.score > 5.0), "recomendation"] = 1
movies_df_merged.loc[movies_df_merged.score <= 5.0, "recomendation"] = 0
movies_df_merged.head()

,budget,gross,name,released,runtime,score,votes,year,company_Castle Rock Entertainment,company_Columbia Pictures,...,writer_Other,writer_Pedro Almodvar,writer_Quentin Tarantino,writer_Robert Rodriguez,writer_Stephen King,writer_Tyler Perry,writer_Wes Craven,writer_William Shakespeare,writer_Woody Allen,recomendation
0,8000000.0,52287414.0,Stand by Me,1986-08-22,89,8.1,299174,1986,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
1,6000000.0,70136369.0,Ferris Bueller's Day Off,1986-06-11,103,7.8,264740,1986,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,15000000.0,179800601.0,Top Gun,1986-05-16,110,6.9,236909,1986,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,18500000.0,85160248.0,Aliens,1986-07-18,137,8.4,540152,1986,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,9000000.0,18564613.0,Flight of the Navigator,1986-08-01,90,6.9,36636,1986,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [19]:
# Creating smaller DataFrane for provitional Database and Machine Learning Model testing
simple_df = movies_df.drop(movies_cat,1)
simple_df = simple_df[:100]
simple_df.head()

,budget,gross,name,released,runtime,score,votes,year
0,8000000.0,52287414.0,Stand by Me,1986-08-22,89,8.1,299174,1986
1,6000000.0,70136369.0,Ferris Bueller's Day Off,1986-06-11,103,7.8,264740,1986
2,15000000.0,179800601.0,Top Gun,1986-05-16,110,6.9,236909,1986
3,18500000.0,85160248.0,Aliens,1986-07-18,137,8.4,540152,1986
4,9000000.0,18564613.0,Flight of the Navigator,1986-08-01,90,6.9,36636,1986

In [20]:
# Converting score to recomendation value for smaller dataframe
simple_df.loc[simple_df.score >= 7.0, "recomendation"] = 2
simple_df.loc[(simple_df.score < 7.0) & (simple_df.score > 5.0), "recomendation"] = 1
simple_df.loc[simple_df.score <= 5.0, "recomendation"] = 0
simple_df.head()

,budget,gross,name,released,runtime,score,votes,year,recomendation
0,8000000.0,52287414.0,Stand by Me,1986-08-22,89,8.1,299174,1986,2.0
1,6000000.0,70136369.0,Ferris Bueller's Day Off,1986-06-11,103,7.8,264740,1986,2.0
2,15000000.0,179800601.0,Top Gun,1986-05-16,110,6.9,236909,1986,1.0
3,18500000.0,85160248.0,Aliens,1986-07-18,137,8.4,540152,1986,2.0
4,9000000.0,18564613.0,Flight of the Navigator,1986-08-01,90,6.9,36636,1986,1.0

# Load Dataset into PostgreSQL Database

In [21]:
# Create Database Engine and Load Dataset into Database
connection_string = f"postgres://postgres:{sql_pw}@group-c-project-db.csna2pebfhlh.us-east-2.rds.amazonaws.com:5432/postgres"
engine = create_engine(connection_string, pool_recycle=3600)

postgreSQLConnection = engine.connect()
#postgreSQLTable = "Non_Mearged_Cleaned_Movie_Data"
postgreSQLTable = "Movie_Data"

try:
    frame = movies_df_merged.to_sql(postgreSQLTable, postgreSQLConnection, if_exists='fail');
    #frame = simple_df.to_sql(postgreSQLTable, postgreSQLConnection, if_exists='fail');
except ValueError as vx:
    print(vx)
except Exception as ex:  
    print(ex)
else:
    print("PostgreSQL Table %s has been created successfully."%postgreSQLTable);
finally:
    postgreSQLConnection.close();

PostgreSQL Table Movie_Data has been created successfully.