In [1]:
import pandas as pd
import boto3
from sqlalchemy import create_engine
from io import StringIO
from config import aws_id, aws_secret, sql_pwd
import psycopg2
from sqlalchemy import create_engine, select

In [2]:
# Create Database Engine and extract merged_Final_allDatasets_left_df from Database
connection_string = f"postgres://postgres:{sql_pwd}@group-c-project-db.csna2pebfhlh.us-east-2.rds.amazonaws.com:5432/postgres"
engine = create_engine(connection_string)
interactive_df = pd.read_sql(sql="Interactive_ML_Movie_Data", con=engine)
interactive_df.head()

,index,Netflix,Hulu,Prime Video,Disney+,title,budget,company,country,director,...,writer,original_language,popularity,revenue,runtime,release_year,release_month,release_day,class,score_prediction
0,0,1.0,0.0,0.0,0.0,Inception,160000000.0,Warner Bros.,USA,Other,...,Other,en,167.6,825532764,148.0,2010,7,16,0,6.7
1,1,1.0,0.0,0.0,0.0,The Matrix,63000000.0,Warner Bros.,USA,Other,...,Other,en,104.3,463517383,136.0,1999,3,31,1,6.6
2,2,1.0,0.0,1.0,0.0,The Pianist,35000000.0,Other,France,Other,...,Other,en,50.6,120072577,150.0,2003,3,28,1,7.6
3,3,1.0,0.0,0.0,0.0,Django Unchained,100000000.0,Other,USA,Other,...,Quentin Tarantino,en,82.1,425368238,165.0,2012,12,25,0,7.3
4,4,1.0,0.0,0.0,0.0,Inglourious Basterds,75000000.0,Universal Pictures,USA,Other,...,Quentin Tarantino,en,72.6,319131050,153.0,2009,8,21,1,6.2

In [3]:
# Save as csv in Final Datasets folder.
interactive_df.to_csv('Final_Datasets/Interactive_ML_Data.csv')