In [1]:
# Import Dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import datetime
from sqlalchemy import create_engine
from config import sql_pw

# Loading data from Provisional Database

In [2]:
# Create Database Engine and extract Dataset from Database
connection_string = f"postgres://postgres:{sql_pw}@group-c-project-db.csna2pebfhlh.us-east-2.rds.amazonaws.com:5432/postgres"
engine = create_engine(connection_string)
#movies_df = pd.read_sql(sql="Non_Mearged_Cleaned_Movie_Data", con=engine)
movies_df = pd.read_sql(sql="Movie_Data", con=engine)
movies_df.head()

,index,budget,gross,name,released,runtime,score,votes,year,company_Castle Rock Entertainment,...,writer_Other,writer_Pedro Almodvar,writer_Quentin Tarantino,writer_Robert Rodriguez,writer_Stephen King,writer_Tyler Perry,writer_Wes Craven,writer_William Shakespeare,writer_Woody Allen,recomendation
0,0,8000000.0,52287414.0,Stand by Me,1986-08-22,89,8.1,299174,1986,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0
1,1,6000000.0,70136369.0,Ferris Bueller's Day Off,1986-06-11,103,7.8,264740,1986,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,2,15000000.0,179800601.0,Top Gun,1986-05-16,110,6.9,236909,1986,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,3,18500000.0,85160248.0,Aliens,1986-07-18,137,8.4,540152,1986,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
4,4,9000000.0,18564613.0,Flight of the Navigator,1986-08-01,90,6.9,36636,1986,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [5]:
# Changing datetime to year and month for modeling
movies_df['release_year'] = pd.DatetimeIndex(movies_df['released']).year
movies_df['release_month'] = pd.DatetimeIndex(movies_df['released']).month
movies_df.head()

,index,budget,gross,name,released,runtime,score,votes,year,company_Castle Rock Entertainment,...,writer_Quentin Tarantino,writer_Robert Rodriguez,writer_Stephen King,writer_Tyler Perry,writer_Wes Craven,writer_William Shakespeare,writer_Woody Allen,recomendation,release_year,release_month
0,0,8000000.0,52287414.0,Stand by Me,1986-08-22,89,8.1,299174,1986,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1986,8
1,1,6000000.0,70136369.0,Ferris Bueller's Day Off,1986-06-11,103,7.8,264740,1986,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1986,6
2,2,15000000.0,179800601.0,Top Gun,1986-05-16,110,6.9,236909,1986,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1986,5
3,3,18500000.0,85160248.0,Aliens,1986-07-18,137,8.4,540152,1986,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1986,7
4,4,9000000.0,18564613.0,Flight of the Navigator,1986-08-01,90,6.9,36636,1986,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1986,8

In [6]:
# Droping Identification and datetime column
movies_df_clean = movies_df.copy()
movies_df_clean = movies_df_clean.drop(["name", "released", "year"], axis=1)
movies_df_clean.head()

,index,budget,gross,runtime,score,votes,company_Castle Rock Entertainment,company_Columbia Pictures,company_Columbia Pictures Corporation,company_Dimension Films,...,writer_Quentin Tarantino,writer_Robert Rodriguez,writer_Stephen King,writer_Tyler Perry,writer_Wes Craven,writer_William Shakespeare,writer_Woody Allen,recomendation,release_year,release_month
0,0,8000000.0,52287414.0,89,8.1,299174,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1986,8
1,1,6000000.0,70136369.0,103,7.8,264740,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1986,6
2,2,15000000.0,179800601.0,110,6.9,236909,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1986,5
3,3,18500000.0,85160248.0,137,8.4,540152,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,1986,7
4,4,9000000.0,18564613.0,90,6.9,36636,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1986,8

# Establishing Provisional Machine Learning Model

In [7]:
# Remove loan status target from features data
y = movies_df_clean.recomendation
X = movies_df_clean.drop(columns=["score","recomendation"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, stratify=y)

# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler_train = scaler.fit(X_train)
X_scaler_test = scaler.fit(X_test)

# Scale the data
X_train_scaled = X_scaler_train.transform(X_train)
X_test_scaled = X_scaler_test.transform(X_test)

In [8]:
# Create a balanced random forest classifier and fit the model
rf_model = RandomForestClassifier(n_estimators=1000, max_depth=10, random_state=0).fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f" Random forest predictive accuracy: {accuracy_score(y_test,y_pred):.3f}")

 Random forest predictive accuracy: 0.724

In [9]:
# Calculate the confusion matrix.
confusion_matrix(y_test, y_pred)

array([[  0, 159,   0],
       [  0, 993,  39],
       [  0, 272, 242]], dtype=int64)

In [10]:
# Print the imbalanced classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00       159
         1.0       0.70      0.96      0.81      1032
         2.0       0.86      0.47      0.61       514

    accuracy                           0.72      1705
   macro avg       0.52      0.48      0.47      1705
weighted avg       0.68      0.72      0.67      1705

C:\Users\Eric\anaconda3\envs\PythonData\lib\site-packages\sklearn\metrics\_classification.py:1221: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [11]:
# List the features sorted in descending order by feature importance
feature_importances = sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

for feature in feature_importances:
       print(f"{feature[1]}: ({feature[0]})")

votes: (0.22059683748161935)
runtime: (0.132803370083966)
gross: (0.08065583170147822)
country_USA: (0.05931905047276908)
country_Other: (0.055524449654033)
budget: (0.052784307561707454)
index: (0.04266261892099126)
release_year: (0.03424491740764572)
release_month: (0.027306399144106264)
genre_Biography: (0.02425026568603987)
genre_Action: (0.021398928972256346)
company_Other: (0.016011110235127236)
genre_Drama: (0.01426408459781126)
genre_Horror: (0.011710557551432585)
genre_Comedy: (0.010605173085759015)
rating_PG-13: (0.010321459734780571)
rating_R: (0.009952644927686738)
star_Other: (0.0075042868427256885)
country_UK: (0.007338169233734578)
country_France: (0.007226719381401059)
rating_PG: (0.006689272033346179)
genre_Crime: (0.006584647945948819)
director_Other: (0.005698422631060349)
country_Italy: (0.005623306233454662)
genre_Animation: (0.005391535861180276)
rating_NOT RATED: (0.004497882154565365)
writer_Other: (0.004292263902653954)
country_Japan: (0.0037465682161101944)
rating_Not specified: (0.0034908382982908894)
country_Spain: (0.002921880452311194)
genre_Adventure: (0.0028858478542688436)
company_Universal Pictures: (0.0027260180454840026)
rating_G: (0.002615660711220764)
company_Warner Bros.: (0.0025088679474530667)
company_Fox Searchlight Pictures: (0.002488646542877517)
company_Twentieth Century Fox Film Corporation: (0.002405414579972078)
country_Canada: (0.0023751420238431625)
company_Paramount Pictures: (0.002169534548154566)
star_Eddie Murphy: (0.0020684471942905526)
company_Touchstone Pictures: (0.0020547399405038635)
writer_Quentin Tarantino: (0.0019813264889275116)
company_Columbia Pictures: (0.0018940103832901147)
country_Germany: (0.0017750409204425617)
company_New Line Cinema: (0.0016493217120837254)
company_Columbia Pictures Corporation: (0.0016091966261033506)
star_Brad Pitt: (0.0016066032844641845)
company_Walt Disney Pictures: (0.001537135518367999)
company_Dimension Films: (0.0015370803951450828)
director_Martin Scorsese: (0.0015180412299384894)
star_Nicolas Cage: (0.0014285126256325103)
company_DreamWorks: (0.0014022844306433016)
writer_Jim Jarmusch: (0.0013863374212357779)
company_Castle Rock Entertainment: (0.001317309949520524)
country_Australia: (0.0013172032376853778)
director_Rob Reiner: (0.001301971887981404)
company_Screen Gems: (0.0012909102071465694)
star_Johnny Depp: (0.0012649104316185221)
company_Metro Goldwyn Mayer: (0.001235233368989454)
genre_Mystery: (0.0012166702298329996)
rating_UNRATED: (0.0011928580667756425)
director_Steven Spielberg: (0.001186596183061799)
star_Tom Cruise: (0.0011153468465748052)
star_Christian Bale: (0.001045363500334083)
director_Tim Burton: (0.0010357467518970532)
company_TriStar Pictures: (0.000999134226585589)
company_Lionsgate: (0.0009951308581340396)
star_Tom Hanks: (0.000994233925962792)
company_Miramax: (0.0009903585482147511)
company_Fox 2000 Pictures: (0.0009522067185778892)
star_Denzel Washington: (0.000945124720310183)
star_Will Smith: (0.0009202695278392368)
star_John Travolta: (0.0008703621071364031)
star_Sylvester Stallone: (0.0008458580029277305)
writer_Robert Rodriguez: (0.0008392675580764573)
director_Richard Linklater: (0.0008367584698539838)
star_Kevin Costner: (0.0008213759070080063)
writer_Woody Allen: (0.0008210067018657647)
star_Keanu Reeves: (0.0007986188813306565)
company_Hollywood Pictures: (0.0007806720750276601)
director_Steven Soderbergh: (0.000777041849508048)
director_Oliver Stone: (0.0007738567808540221)
writer_John Logan: (0.0007657845093368862)
director_Joel Schumacher: (0.0007578246370045609)
rating_NC-17: (0.0007474092900239987)
genre_Fantasy: (0.0007355243016749576)
star_Ben Stiller: (0.0007293322322041211)
director_Woody Allen: (0.0007266312730487328)
star_Liam Neeson: (0.0007195536978286662)
star_Jackie Chan: (0.0006848978548066381)
star_Ben Affleck: (0.0006845754700629507)
star_Mel Gibson: (0.0006624839664606455)
star_Robert De Niro: (0.000653985577555618)
star_John Cusack: (0.000634887556480761)
writer_David Mamet: (0.0006278051553866951)
star_Sandra Bullock: (0.0006248092645670889)
director_Ron Howard: (0.0006116644397550188)
star_Anthony Hopkins: (0.0006090529516658404)
writer_Joel Coen: (0.0006061914517393329)
director_Ridley Scott: (0.0005906500037723091)
star_Matt Damon: (0.0005883902236461782)
star_Meryl Streep: (0.000587219316999861)
star_Adam Sandler: (0.0005796167986999168)
star_Bruce Willis: (0.0005788984759141709)
writer_Luc Besson: (0.0005785232087023489)
writer_Ehren Kruger: (0.0005587217209939645)
director_Clint Eastwood: (0.0005578432208415827)
director_Spike Lee: (0.0005554835958472334)
star_Robin Williams: (0.0005470715164698437)
director_Bruce Beresford: (0.0005366095587075313)
director_Barry Levinson: (0.0005189457833316761)
writer_Tyler Perry: (0.0005184452885785378)
writer_Pedro Almodvar: (0.0005184400820912542)
writer_John Hughes: (0.0005179585820343556)
star_Harrison Ford: (0.0005145451124317921)
writer_Wes Craven: (0.000505106356556083)
star_Mark Wahlberg: (0.0005043718915902238)
star_Jim Carrey: (0.0005001490990324982)
star_Richard Gere: (0.0004713978656640559)
star_Arnold Schwarzenegger: (0.0004553660427725007)
writer_William Shakespeare: (0.00045445879510417936)
company_Orion Pictures: (0.00045438788973989184)
star_George Clooney: (0.0004538019031329816)
star_Jeff Bridges: (0.0004412005708410337)
director_Stephen Frears: (0.00044018518221017447)
writer_M. Night Shyamalan: (0.000439753125569472)
star_Ethan Hawke: (0.0004336390069151236)
genre_Romance: (0.0004290423441718019)
star_Dennis Quaid: (0.0004250642690484724)
star_Matthew McConaughey: (0.0004003678883366354)
director_Tony Scott: (0.0003997143600032168)
writer_Stephen King: (0.0003902117107263289)
director_Renny Harlin: (0.00038337753441468537)
director_Chris Columbus: (0.00032450120619468355)
writer_Kevin Smith: (0.00028046958983581917)
director_Garry Marshall: (0.00027931455137233165)
genre_Family: (0.00026217991692008464)
writer_Lars von Trier: (0.0002568929795403567)
star_Steve Martin: (0.0002460087635802402)
genre_Musical: (0.00023147401204508643)
writer_Michael Crichton: (0.00020424389119670725)
genre_Sci-Fi: (0.00018191047470567846)
genre_Thriller: (0.00017692513086356364)
writer_Brian Helgeland: (0.000167764676895651)
rating_B: (0.00014964383665873026)
rating_TV-MA: (0.00012022687112801969)
rating_TV-14: (8.92387884678511e-05)
genre_Western: (3.510705232915195e-05)
genre_War: (3.4571651736614294e-05)
rating_TV-PG: (2.5746301067371402e-05)
rating_B15: (0.0)

In [12]:
# Another potential machine learning option
SCV_model = SVC(decision_function_shape="ovo").fit(X_train_scaled, y_train)

y_pred_SCV = SCV_model.predict(X_test_scaled)
round(SCV_model.score(X_test_scaled, y_test), 4)

0.6862

In [13]:
# Evaluate the model
print(f" SCV predictive accuracy: {accuracy_score(y_test,y_pred_SCV):.3f}")

 SCV predictive accuracy: 0.686

In [14]:
# Calculate the confusion matrix.
confusion_matrix(y_test, y_pred_SCV)

array([[  0, 153,   6],
       [  3, 934,  95],
       [  0, 278, 236]], dtype=int64)

In [15]:
# Print the imbalanced classification report
print(classification_report(y_test, y_pred_SCV))

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00       159
         1.0       0.68      0.91      0.78      1032
         2.0       0.70      0.46      0.55       514

    accuracy                           0.69      1705
   macro avg       0.46      0.45      0.44      1705
weighted avg       0.63      0.69      0.64      1705