In [1]:
# import dependencies
import pandas as pd
import boto3
from sqlalchemy import create_engine
from io import StringIO
from config import aws_id, aws_secret, sql_pwd
import numpy as np

In [2]:
# Create Database Engine and extract merged_Final_allDatasets_left_df from Database
connection_string = f"postgres://postgres:{sql_pwd}@group-c-project-db.csna2pebfhlh.us-east-2.rds.amazonaws.com:5432/postgres"
engine = create_engine(connection_string)
interactive_df = pd.read_sql(sql="Interactive_ML_Movie_Data", con=engine)
interactive_df.head()

,index,Netflix,Hulu,Prime Video,Disney+,title,budget,company,country,director,...,writer,original_language,popularity,revenue,runtime,release_year,release_month,release_day,class,score_prediction
0,0,1.0,0.0,0.0,0.0,Inception,160000000.0,Warner Bros.,USA,Other,...,Other,en,167.6,825532764,148.0,2010,7,16,0,6.9
1,1,1.0,0.0,0.0,0.0,The Matrix,63000000.0,Warner Bros.,USA,Other,...,Other,en,104.3,463517383,136.0,1999,3,31,0,6.8
2,2,1.0,0.0,1.0,0.0,The Pianist,35000000.0,Other,France,Other,...,Other,en,50.6,120072577,150.0,2003,3,28,0,7.7
3,3,1.0,0.0,0.0,0.0,Django Unchained,100000000.0,Other,USA,Other,...,Quentin Tarantino,en,82.1,425368238,165.0,2012,12,25,0,7.5
4,4,1.0,0.0,0.0,0.0,Inglourious Basterds,75000000.0,Universal Pictures,USA,Other,...,Quentin Tarantino,en,72.6,319131050,153.0,2009,8,21,2,6.2

In [32]:
def get_popularities():
    # create new column
    interactive_df["filter_pop"] = ""
    # create name for each class
    interactive_df.loc[(interactive_df['class'] == 0), "filter_pop"] = "Underrated"
    interactive_df.loc[(interactive_df['class'] == 1), "filter_pop"] = "Average Movie"
    interactive_df.loc[(interactive_df['class'] == 2), "filter_pop"] = "Blockbuster"
    # convert to list 
    popularity_list = interactive_df["filter_pop"].unique().tolist()
    return popularity_list

In [34]:
get_popularities()

['Underrated', 'Blockbuster', 'Average Movie']